<div class="row">
    <div class="col-xs-12">
        <form >
            <div class="row">
                <div class="col-sm-5 form-group">
                    <label for="name">Name</label>
                    <input type="text " id="name" class="form-control">
                </div>
                <div class="col-sm-2 form-group">
                    <label for="amount " >Amount</label>
                    <input type="number" name="number" class="form-control" id="amount">
                </div>
                <div class="col-xs-12 mt-2">
                    <button class="btn btn-success me-2" type="submit">Add</button>
                    <button class="btn btn-danger  me-2" type="button">Delete</button>
                    <button class="btn btn-primary" type="button">Clear</button>
                </div>
            </div>
        </form>
    </div>
</div>